<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      C'est la page d'accueil de l'Application Exemple du
      <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>.
    </p>
    <%= link_to "Sign up now!", '/signup', :class => "signup_button round" %>
  </body>
</html>